body {
	background-color: #000;
}

.main {
	background-color: #fff;
	margin-top: 11px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready,.ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url(../images/ryu-ready-position.gif)
}

.ryu-still {
	background-image: url(../images/ryu-standing-still.png)
}

.ryu-throwing {
	background-image: url(../images/ryu-throwing-hadouken.png)
}

.ryu-cool {
	background-image: url(../images/ryu-cool.gif)
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url(../images/hadouken.gif);
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -198px;
	float: left;
}

.instructions {
	display: inline-block;
	font-family: 'Open Sans Condensed', arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	
}
